@import "flexbox";

// mixins
.widget (@height) {
  background-color: #43444f;
  height: @height;
  margin-bottom: 10px;
  color: white;
  .flex-display();
  .flex-direction(column);
  .align-items(center);
  padding-bottom: 10px;
}

.widget-bar (@color) {
  background-color: @color;
  height: 5px;
  .align-self(stretch);
}

.widget-title () {
  font-size: 46px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget-stat-table-cell () {
  text-align: center;
  font-size: 18px;
}

.widget__line(@color) {
  fill: none;
  stroke: @color;
  stroke-width: 2px;
}

.progress-bar(@width, @background, @foreground) {
  .progress-bar--background {
    fill: @background;
  }
  .progress-bar--foreground {
    fill: @foreground;
  }
}

.widget-subtitle() {
  color: #9596a2;
  font-size: 13px;
  margin-bottom: 15px;
}

.widget-info-main() {
  font-size: 13px;
}

.widget-info-sub() {
  color: #999;
  font-size: 12px;
}

// dashboard
html {
  height: 100%;
}

body {
  background-color: indianred;
  height: 100%;
}

.container {
  .flex-display();
  .align-items(center);
  height: 100%;
}

nav {
  color: white;
  background-color: #43444f;
}


.main {
  padding: 10px 10px 0 10px;
  background-color: #31323a;
  box-shadow: 0 10px 20px;
}

.widget--small {
  .widget(200px)
}

.widget--long {
  .widget(200px)
}

.widget--large {
  .widget(420px)
}

.widget__title--number {
  .widget-title();
}

.widget__title--dollar {
  .widget-title();
}

.widget__subtitle {
  .widget-subtitle();
}

.widget__expense {
  .widget-info-main();
}

.widget__expense-subtitle {
  .widget-info-sub();
}

.widget__bar--green {
  .widget-bar(#b2d767);
}

.widget__bar--purple {
  .widget-bar(#e3dafd);
}

.widget__bar--gray {
  .widget-bar(#e2e2e2);
}

.widget__bar--blue {
  .widget-bar(#96cffb);
}

.widget__bar--charcol {
  .widget-bar(#70717f);
}

.widget__bar--brown {
  .widget-bar(#b58676);
}

.widget__bar--aqua {
  .widget-bar(#4acab4);
}

.widget__bar--yellow {
  .widget-bar(#ebd160);
}

.widget__title--small-number {
  .widget-title;
}
.widget__title--number {
  .widget-title;
  font-size: 62px;
  font-weight: normal;
}

// invoice chart
.widget__invoice-chart {
  path {
    .widget__line(#b2d767);
  }
}

// download chart
.widget__download-chart {
  path {
    .widget__line(#e3dafd)
  }
}

// distribution chart
.widget__distribution-chart {
  margin: 10px 0 0 0;
}

.widget__distribution-chart-text {
  position: relative;
  font-size: 62px;
  top: -155px;
}

.widget__stat-table {
  width: 400px;
}

.widget__stat-table-header {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
}

.widget__stat-table-cell--aqua {
  .widget-stat-table-cell();
  color: #4acab4
}

.widget__stat-table-cell--purple {
  .widget-stat-table-cell();
  color: #878bb6;
}

.widget__stat-table-cell--orange {
  .widget-stat-table-cell();
  color: #ff8153;
}

.widget__stat-table-cell--yellow {
  .widget-stat-table-cell();
  color: #ffea88;
}

.widget__distribution-name {
  margin-top: 10px;
  .widget-info-main();
}

.widget__distribution-email {
  .widget-info-sub();
}

// marketing chart
.widget__market-budget-title{
  .widget-title();
  .align-self(flex-start);
  margin: 30px 0 10px 45px;
  font-size: 24px;
}

.widget__marketing-budget-chart {
  .progress-bar(129, #54555f, #e2e2e2);
}

.widget__marketing-budget-chart-text {
  .widget-subtitle();
  margin: 15px 0;
  font-size: 18px;
}

// storage chart
.widget__storage-chart {
  margin-top: 20px;
  .arc-progress-bar--background {
    fill: #54555f;
  }
  .arc-progress-bar--foreground {
    fill: #96cffb;
  }
}

.widget__storage-chart-text {
  position: relative;
  top: -67px;
  font-size: 24px;
}

.widget__storage-name {
  .widget-info-main();
  position: relative;
  top: -11px;
}
.widget__storage-email {
  .widget-info-sub();
  position: relative;
  top: -11px;
}

// revenue chart
.widget__revenue-chart {
  margin-top: 20px;
}

.widget__revenues-number {
  margin-top: 20px;
  font-size: 24px;
  display: inline-block;
}

.widget__revenues-text {
  margin-left: 5px;
  font-size: 13px;
  color: #999;
  display: inline-block;
}

.widget__conversion-number {
  .widget__revenues-number();
}

// file uploaded chart
.widget__file-uploaded-subtitle {
  .widget-subtitle();
  margin: 10px 0 0 0;
}

.widget__file-uploaded-chart {
  .progress-bar(129, #54555f, #4acab4);
}

.widget__file-uploaded-name {
  .widget-info-main();
  margin-top: 14px;
}

.widget__file-uploaded-folder{
  .widget-info-sub();
}

.widget__conversion-text {
  .widget__revenues-text;
}

// yearly chart
.widget__yearly-title {
  .widget-title();
  .align-self(flex-start);
  margin: 20px 0 10px 30px;
  font-size: 24px;
}

.widget__yearly-change-text {
  .align-self(flex-start);
  margin-left: 30px;
  color: #999;
  font-size: 11px;
}

.widget__yearly-name {
  .widget-info-main();
  margin-top: 10px;
}

.widget__yearly-user {
  .widget-info-sub();
}

.svg__bar {
  fill: #54555f;
}

